BACKEND/CANCEL.json
{
  "name": "CANCEL",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        80
      ],
      "id": "518ff8d9-7716-429b-936e-b22d3109f389",
      "name": "Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "patient_name",
              "name": "patient_name",
              "value": "={{ $json.arguments.patient_name }}",
              "type": "string"
            },
            {
              "id": "phone_number",
              "name": "phone_number",
              "value": "={{ $json.customer_number }}",
              "type": "string"
            },
            {
              "id": "tool_call_id",
              "name": "tool_call_id",
              "value": "={{ $json.tool_call_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        80
      ],
      "id": "2946291c-b1c6-4b2c-97af-c8f804d406f7",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.patient_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        80
      ],
      "id": "b36b36d2-a0fe-4237-91d8-0a3dd7f0034e",
      "name": "Validate Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "results",
              "value": "={{ [{\"toolCallId\": $json.tool_call_id, \"result\": \"Lipsesc informații. Am nevoie de numele complet și numărul de telefon pentru a găsi programarea.\"}] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        272
      ],
      "id": "9a488d5a-cf77-495b-b7a2-a372bc4e7324",
      "name": "Error: Missing Info"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "94781b1e7a82ae7f6243aa1aa3e5482b972c650d03d7b4e87ac944a26ad61e23@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clinica DIamed"
        },
        "timeMin": "={{ DateTime.now().toISO() }}",
        "timeMax": "={{ DateTime.now().plus({days: 90}).toISO() }}",
        "options": {
          "orderBy": "startTime",
          "query": "={{ $json.patient_name }}",
          "timeZone": {
            "__rl": true,
            "value": "Europe/Bucharest",
            "mode": "list"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -656,
        -16
      ],
      "id": "8bd1fe8f-9406-4fdc-a155-b302c68014ea",
      "name": "Find Appointment",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7sGhIOmHhIvV51eV",
          "name": "Google Calendar account"
        }
      },
      "notes": "Searches next 90 days for patient name"
    },
    {
      "parameters": {
        "jsCode": "// ANTI-TROLL: Verifică că numărul apelant = numărul din programare\nconst events = $input.all();\nconst searchData = $('Normalize Input').first().json;\nconst callerNumber = searchData.phone_number.replace(/\\s/g, '').replace(/^\\+/, '');\nconst searchName = searchData.patient_name.toLowerCase();\n\nfor (const event of events) {\n  const eventData = event.json;\n  const summary = (eventData.summary || '').toLowerCase();\n  const description = (eventData.description || '').toLowerCase();\n  \n  // Match by name in title\n  if (summary.includes(searchName)) {\n    // Extract phone from event description\n    const phoneMatch = description.match(/telefon[:\\s]+([+\\d\\s]+)/i);\n    if (!phoneMatch) {\n      return {\n        json: {\n          found: false,\n          anti_troll_triggered: false,\n          tool_call_id: searchData.tool_call_id,\n          message: `Programarea pentru ${searchData.patient_name} nu conține număr de telefon.`\n        }\n      };\n    }\n    \n    const eventPhone = phoneMatch[1].replace(/\\s/g, '').replace(/^\\+/, '');\n    \n    // 🛡️ ANTI-TROLL: Verifică numărul apelant\n    if (callerNumber !== eventPhone) {\n      return {\n        json: {\n          found: false,\n          anti_troll_triggered: true,\n          caller_number: searchData.phone_number,\n          event_phone: phoneMatch[1],\n          patient_name: searchData.patient_name,\n          tool_call_id: searchData.tool_call_id,\n          message: `ALERTĂ SECURITATE: Cineva încearcă să anuleze programarea pentru ${searchData.patient_name} din numărul ${searchData.phone_number}, dar programarea e pe numărul ${phoneMatch[1]}.`\n        }\n      };\n    }\n    \n    // ✅ Numărul coincide - permite anularea\n    const timePart = eventData.start.dateTime.split('T')[1].split('+')[0].split('-')[0];\n    const [hour, minute] = timePart.split(':');\n    const datePart = eventData.start.dateTime.split('T')[0];\n    \n    return {\n      json: {\n        found: true,\n        anti_troll_triggered: false,\n        event_id: eventData.id,\n        summary: eventData.summary,\n        date: datePart,\n        time: `${hour}:${minute}`,\n        patient_name: searchData.patient_name, // ← IMPORTANT\n        phone_number: phoneMatch[1],\n        tool_call_id: searchData.tool_call_id  // ← IMPORTANT\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    found: false,\n    anti_troll_triggered: false,\n    tool_call_id: searchData.tool_call_id,\n    message: `Nu am găsit programare pentru ${searchData.patient_name}.`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -16
      ],
      "id": "a2bb977b-5061-485b-ba98-f91fa5a47418",
      "name": "Filter Appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -16
      ],
      "id": "9bad8096-bbc3-4c03-a973-903d9d04e1b0",
      "name": "Appointment Found?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "94781b1e7a82ae7f6243aa1aa3e5482b972c650d03d7b4e87ac944a26ad61e23@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clinica DIamed"
        },
        "eventId": "={{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        -112
      ],
      "id": "b6d9d5c9-a6a4-4ba6-989f-fcaa09ec5ded",
      "name": "Delete Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7sGhIOmHhIvV51eV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "results",
              "value": "={{ [{\"toolCallId\": $json.tool_call_id, \"result\": \"Programarea a fost anulată cu succes pentru \" + $json.patient_name + \".\"}] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -112
      ],
      "id": "4006d22a-3fd7-4d1e-84a3-8ff989da5884",
      "name": "Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "not_found",
              "name": "results",
              "value": "={{ [{\"toolCallId\": $json.tool_call_id, \"result\": $json.message + \" Verificați numele și numărul de telefon.\"}] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        80
      ],
      "id": "27ac0668-852f-40f2-990e-1860f816a054",
      "name": "Not Found Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        80
      ],
      "id": "a8f581bb-416d-4be1-a70c-6964d926e55c",
      "name": "Merge Outputs"
    },
    {
      "parameters": {
        "from": "+40373811265",
        "to": "={{ $json.sms_to }}",
        "toWhatsapp": true,
        "message": "={{ $json.sms_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        480,
        -384
      ],
      "id": "4a28e9b8-3fde-4a86-892c-77818245e889",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "quflI7Osk8wGy2w9",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3de5f0ce-dbb7-4b8b-93fc-6eb2c41c0cd2",
              "name": "sms_to",
              "value": "={{ $('Filter Appointment').first().json.phone_number }}",
              "type": "string"
            },
            {
              "id": "98e14221-3306-47b6-b39b-c5bd4187e53e",
              "name": "sms_body",
              "value": "={{ `Bună ziua ${$('Filter Appointment').first().json.patient_name},  Programarea dvs. din data de ${$('Filter Appointment').first().json.date} la ora ${$('Filter Appointment').first().json.time} a fost anulată cu succes.  Puteți face o programare nouă oricând sunând la clinică.  Clinica Dr. Șerban 📞 0244-516-xxx` }}",
              "type": "string"
            },
            {
              "id": "dca65ab5-f153-4b63-be33-0573620d8f86",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "1c945eb3-1bcc-4600-8e68-c7ba48c95812",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -384
      ],
      "id": "2bbd1ed0-d7b2-480a-8ad1-c2849dfb7607",
      "name": "Prepare SMS Confirmare Anulare",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab85ccc7-dd67-44c1-aea9-e695dae2803a",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "feff1b0b-6ffe-4716-bfd9-529f4af4570d",
              "name": "patient_name",
              "value": "={{ $json.patient_name }}",
              "type": "string"
            },
            {
              "id": "8b9d652b-3890-4d77-b04b-653ae2a71d3d",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "f73234f3-7ced-4c46-9ffd-f5474357c95d",
              "name": "time",
              "value": "={{ $json.time }}",
              "type": "string"
            },
            {
              "id": "cabbdf5d-d9b4-49df-9dd7-48c581ef5860",
              "name": "tool_call_id",
              "value": "={{ $json.tool_call_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -112
      ],
      "id": "d8d00917-7905-4937-bffc-56e471768435",
      "name": "Prepare Delete Data"
    }
  ],
  "pinData": {
    "Workflow Trigger": [
      {
        "json": {
          "function_name": "cancel_appointment",
          "arguments": {
            "patient_name": "Vasile Ștefan",
            "phone_number": "0720496033"
          },
          "tool_call_id": "call_OWOFTUXvkLOGTaT7qxs5FJOa",
          "call_id": "019a3e8d-9c4c-7334-8c86-70a514b4e109",
          "customer_number": "+40720496033"
        }
      }
    ]
  },
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Missing Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Missing Info": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "Filter Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Appointment": {
      "main": [
        [
          {
            "node": "Appointment Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Found?": {
      "main": [
        [
          {
            "node": "Prepare Delete Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Appointment": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found Response": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    },
    "Prepare SMS Confirmare Anulare": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delete Data": {
      "main": [
        [
          {
            "node": "Delete Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dfe7f10-7280-4104-b5ff-4ed67000c54e",
  "meta": {
    "instanceId": "8b288455c98dd89b1683c1f42341ee1e9b37a04d731a8c359e81baed65b07cec"
  },
  "id": "zW7aEqe1RBAcRuft",
  "tags": []
}